.collections(data-background=colors.quicksand data-color=colors["quarter-spanish-white"])
  .collections__wrapper
    .collections__titles
      each line in [0, 1, 2]
        .collections__titles__wrapper
          each collection, index in prismic.collection
            .collections__titles__item
              .collections__titles__label
                .home__titles__label__text!=`${prismic.home.data.collection}<br>${utilities.toNumbers(index)}`

              .collections__titles__title
                .collections__titles__title__text=collection.data.title

    .collections__gallery
      .collections__gallery__wrapper
        each collection, index in prismic.collection
          each product in collection.data.list
            a.collections__gallery__link(data-index=index href=product.product)
              figure.collections__gallery__media(data-index=index)
                img.collections__gallery__media__image(
                  alt=product.product.data.image.alt
                  data-src=product.product.data.image.url
                  data-model-src=product.product.data.model.url
                )

    .collections__content
      each collection, index in prismic.collection
        article.collections__article(class=`${index === 0 ? 'collections__article--active' : ''}`)
          h2.collections__article__title
            span.collections__article__title__text=`${collection.data.title} ${prismic.home.data.collection}`

          p.collections__article__description!=collection.data.description.replace(/\n/g, '<br>')

    .collections__mobile
      each collection, index in prismic.collection
        .collections__mobile__item
          .collections__mobile__item__label!=`${prismic.home.data.collection}<br>${utilities.toNumbers(index)}`
          .collections__mobile__item__title=collection.data.title

  each product in prismic.products
    article.detail(data-background=colors.quicksand data-color=colors["quarter-spanish-white"])
      .detail__wrapper
        figure.detail__media
          img.detail__media__image(alt=product.data.image.alt data-src=product.data.image.url)

        .detail__information
          p.detail__information__collection
            span.detail__information__collection__text=product.data.collection.data.title

          h1.detail__information__title!=product.data.title.replace(' ', '<br>')

          .detail__information__content
            .detail__information__highlights
              each highlight in product.data.highlights
                p.detail__information__highlight
                  if highlight.highlights_icon.toLowerCase() == 'arrow'
                    svg.detail__information__highlight__icon.detail__information__highlight__icon--arrow(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40")
                      path(stroke="#fff" d="M14.84,25.46l11.31-11.31")
                      path(fill="#fff" d="M30.75,9.55l-0.66,2.36l-0.05,2.59l-1.93-2.31l-2.31-1.93l2.59-0.05L30.75,9.55z")
                      path(fill="#fff" d="M10.25,30.05l0.66-2.36l0.05-2.59l1.93,2.31l2.31,1.93l-2.59,0.05L10.25,30.05z")
                      path(fill="none" stroke="#fff" d="M20,0.5c10.77,0,19.5,8.73,19.5,19.5S30.77,39.5,20,39.5S0.5,30.77,0.5,20S9.23,0.5,20,0.5z")
                  else
                    svg.detail__information__highlight__icon.detail__information__highlight__icon--star(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40")
                      path(fill="#fff" d="M24.26,9.87l-2.76,8.6l8.72-2.63l-8.16,4.13l8.15,4.26l-8.71-2.82l2.82,8.91l-4.26-8.34l-4.14,8.15l2.63-8.72 l-8.6,2.75l8.15-4.2l-8.34-4.33l8.78,2.82l-2.82-8.78l4.33,8.34L24.26,9.87z")
                      path(fill="none" stroke="#fff" d="M20,0.5c10.77,0,19.5,8.73,19.5,19.5S30.77,39.5,20,39.5S0.5,30.77,0.5,20S9.23,0.5,20,0.5z")

                  span.detail__information__highlight__text!=highlight.highlights_text.replace(/\n/, '<br>')

            .detail__information__list
              each item in product.data.informations
                p.detail__information__item
                  strong.detail__information__item__title
                    span.detail__information__item__title__text=item.informations_label

                  span.detail__information__item__description=item.informations_description

            footer.detail__information__footer
              a.detail__information__link(data-animation="link" href=product.data.link_url.url target="_blank")
                span=product.data.link_text

      button.detail__button(data-animation="button")
        span Close

        svg.detail__button__icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 124 60")
          path(fill="none" stroke="#fff" opacity="0.4" d="M62,0.5c33.97,0,61.5,13.21,61.5,29.5S95.97,59.5,62,59.5S0.5,46.29,0.5,30S28.03,0.5,62,0.5z")
          path(fill="none" stroke="#fff" d="M62,0.5c33.97,0,61.5,13.21,61.5,29.5S95.97,59.5,62,59.5S0.5,46.29,0.5,30S28.03,0.5,62,0.5z")
